{% extends "base.html" %}
{% block body %}
<div class="text-left">
     Testing the Edamam API calls
<br>
<br>
     <form method="post">
          <div class="form-group w-25">
            <label for="ingredientsinput">Ingredients</label>
            <br>
            <input type="text" class="form-control" id="ingredientsinput" placeholder="Enter ingredients" name="ingredients" required >
            <br>
            <label for="mealtype">Meal Type (Breakfast/Lunch/Dinner)</label>
            <br>
            <input type="text" class="form-control" id="mealtypeinput" placeholder="Enter mealtype" name="mealtype" required >
            <br>
          </div>
          <br>
          <div class="btn-group">
               <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Action
               </button>
               <div class="dropdown-menu">
               <a class="dropdown-item" href="#">Alcohol-Free</a>
               <a class="dropdown-item" href="#">Celery-Free</a>
               <a class="dropdown-item" href="#">Crustcean-Free</a>
               <a class="dropdown-item" href="#">Dairy-Free</a>
               <a class="dropdown-item" href="#">Egg-Free</a>
               <a class="dropdown-item" href="#">Fish-Free</a>
               <a class="dropdown-item" href="#">Gluten-Free</a>
               <a class="dropdown-item" href="#">Kosher</a>
               <a class="dropdown-item" href="#">Peanut-Free</a>
               <a class="dropdown-item" href="#">Pescatarian</a>
               <a class="dropdown-item" href="#">Vegan </a>
               <a class="dropdown-item" href="#">Vegetarian  </a>
               </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

{% endblock %}
    