{% extends "base.html" %}
{% block body %}
<style>
 
    body {
      background:linear-gradient(to bottom, #89ffde 0%,#8f4bff 100%) no-repeat fixed;
      background: url("{{url_for('static', filename='green.jpg')}}") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;
    }

.card-title {
    margin-bottom: 0;
}

</style>
<!-- <div class="col d-flex justify-content-center"> -->
<div class="d-flex flex-wrap justify-content-evenly">
{% for row in data %}
<div class="position-relative border-0 card mb-5" style="width: 15rem;" >
    <!-- <div class="row g-0"> -->
        <!-- <div class="col-md-4"> -->
        <img class="img-thumbnail"  src="{{ row['recipe']['image'] }}" alt="Card image cap">
        <!-- </div> -->
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{row['recipe']['label']}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Calories:{{ (row['recipe']['calories'])|int }}</h6>
            <p class="card-text"> 
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        Ingredients:
                        {% for row in row['recipe']['ingredientLines'] %} 
                        <br>
                        {{row}} 
                        <li><hr class="dropdown-divider"></li>
                        {% endfor %}
                    </ul>
                  </div>
                <!-- Ingredients:
                {% for row in row['recipe']['ingredientLines'] %} 
                <br>
                {{row}} 
                {% endfor %} -->
            </p>
            <a href="{{ row['recipe']['url'] }}" class="btn btn-outline-success">More Info</a>
        </div>
        </div>
    <!-- </div> -->
    </div>
    {% endfor %}
</div>
    <!-- </div> -->
<!-- <div class="text-left"> 
<div class="row">
    {% for row in data %}
    <div class="col-md-3">

        <div class="card text-white bg-dark mb-3" style="width: 20rem;">
             <img class="card-img-top" src="{{ row['recipe']['image'] }}" alt="Card image cap"> 
            <div class="card-body">
                <h5 class="card-title">{{row['recipe']['label']}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Calories:{{row['recipe']['calories']}}</h6>
                    <p class="card-text"> 
                        Ingredients:
                        {% for row in row['recipe']['ingredientLines'] %} 
                        <br>
                        {{row}} 
                        {% endfor %}
                    </p>
                <a href="{{ row['recipe']['url'] }}" class="btn btn-primary">Go to Link</a>
            </div>
        </div>
        
    </div>
    {% endfor %}
</div>
</div> -->


<!-- <div class="text-left">
    {% for row in data %}    
    <p class="fw-bold text-info">Recipe:</p>{{row['recipe']['label']}}
    <p class="fw-bold">Calories:</p> {{row['recipe']['calories']}}  
    <p class="fw-bold">Ingredients:</p>
    {% for row in row['recipe']['ingredientLines'] %} 
    <br>
    {{row}} 
    {% endfor %}
    {% endfor %}
    
</div> -->

{% endblock %}
    