{% extends "base.html" %} {% block body %}
<style>
  body {
    background: linear-gradient(to bottom, #89ffde 0%, #8f4bff 100%) no-repeat
      fixed;
    background: url("{{url_for('static', filename='green.jpg')}}") no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
  }

  .card-title {
    margin-bottom: 0;
  }
  .traffic-light {
    width: 75px;
    height: 30px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .activelightred {
    background-color: red;
    box-shadow: 0px 0px 5px #ff0, 0px 0px 10px red, 0px 0px 15px red;
    animation: flashRed 0.5s infinite;
  }

  .activelightgreen {
    background-color: #00ff00;
    box-shadow: 0px 0px 5px #ff0, 0px 0px 10px #0f0, 0px 0px 15px #0f0;
    animation: flashGreen 0.5s infinite;
  }

  @keyframes flashRed {
    0% {
      box-shadow: 0px 0px 5px #ff0, 0px 0px 10px red, 0px 0px 15px red;
    }
    50% {
      box-shadow: 0px 0px 10px #f00, 0px 0px 15px #f00, 0px 0px 20px #f00;
    }
    100% {
      box-shadow: 0px 0px 5px #ff0, 0px 0px 10px red, 0px 0px 15px red;
    }
  }

  @keyframes flashGreen {
    0% {
      box-shadow: 0px 0px 5px #ff0, 0px 0px 10px #0f0, 0px 0px 15px #0f0;
    }
    50% {
      box-shadow: 0px 0px 10px #0f0, 0px 0px 15px #0f0, 0px 0px 20px #0f0;
    }
    100% {
      box-shadow: 0px 0px 5px #ff0, 0px 0px 10px #0f0, 0px 0px 15px #0f0;
    }
  }
.alert-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert-large {
  font-size: 1.8rem;
}

</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand">Macro Meals</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/recipe">Search Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/savedRecipes">Saved Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
{% if not res%}
<div class="text-center alert-centered">
  <div class="alert alert-danger alert-large" role="alert">
    Sorry, you have no Recipes Saved
  </div>
</div>
<!-- <p class="text-center">Sorry you have no Recipes Saved</p> -->
{% else %}
<div class="text-center"><h1>Your Saved Recipes</h1></div>
<br>
<div class="d-flex flex-wrap justify-content-evenly">
  {% for row in res %}
  <div class="d-flex flex-column position-relative border-0 card mb-5" style="width: 17rem">
    <div class="col-md-8 d-flex flex-grow-1">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{row[11]}}</h5>
        <br>
        <h5>Carbon Footprint Indicator</h5>
        <div class="traffic-light">
          {% if row[12] == 'GREEN' %}
          <div class="light red"></div>
          <div class="light green activelightgreen"></div>
          {% endif %} {% if row[12] == 'RED' %}
          <div class="light red activelightred"></div>
          <div class="light green"></div>
          {% endif %}
        </div>
        <br>
        <h5>Cost Estimation</h5>
        <h6>{{row[13]}}</h6>
      </div>
    </div>

    <button
      type="button"
      class="btn btn-dark"
      data-toggle="modal"
      data-target="#itemModal-{{ loop.index }}"
    >
      Click for More Info
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="itemModal-{{ loop.index }}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="itemModalLabel-{{ loop.index }}"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="itemModalLabel-{{ loop.index }}">
              {{ row[11] }}
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <b>Ingredients:</b>
            {% for ing in row[2].split("', '") %}
            <br />
            {{ing.strip("'")}} {% endfor %}
            <br />
            <hr />
            <b>Calories per serving:</b> {{ (row[3]) }}
            <br />
            <b>Serving Size:</b> {{(row[4]) }}
            <br />
            <hr />
            <b>Nutritional Breakdown per serving:</b>
            <br />
            Carbohydrates (net) {{(row[5])}} g
            <br />
            Fat {{(row[6])}} g
            <br />
            Protein {{row[7]}} g
            <br />
            Sugars {{row[8]}} g
            <br />
            Fibre {{row[9]}} g
            <hr />
            <a
              href="{{ row[10] }}"
              target="_blank"
              class="btn btn-outline-success"
              >Get Instructions</a
            ><br />
            <form id="gpt-form-{{ loop.index }}" action="/gpt" method="post">
              <input type="hidden" name="Ingredients" value="{{row[2]}}" />
              <button type="submit" class="btn btn-outline-warning">Ask GPT</button>
          </form>
            
            <br />
            <!--Session to store the link so it can be used for delete-->
            <form action="/deleteRecipe" method="post">
              <input type="hidden" name="Link" value="{{ row[10] }}" />
              <button type="submit" class="btn btn-danger">
                Delete Recipe
              </button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
