{% extends "base.html" %}
{% block body %}
<div class="text-right">
    Testing the Spoonacular API calls (only 150 calls a day)
<br>
<br>
    <form method="post">
         <div class="form-group w-25">
           <label for="ingredientsinput">Ingredients</label>
           <br>
           <input type="text" class="form-control" id="ingredientsinput" placeholder="Enter ingredients" name="ingredients" required >
         </div>
         <br>
         <button type="submit" class="btn btn-primary">Submit</button>
       </form>
</div>



{% endblock %}